body{
    background: red;
}

.login_div1{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
    width:800;
    height:150;
}

.login_div2{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
    width:800;
    height:150;
}

#player1_name{
    display: inline-block;
    margin-left: 3px;

}

#player1_name{
    display: inline-block;
    margin-left: 3px;

}

